* {
  box-sizing: border-box;
}

.rateBeginningn1 {
  width: 1947px;
  height: 3323px;
  position: relative;
  overflow: hidden;
  background: #000;
}

.background {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
